@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);

body{
	margin:0px;
	padding:0px;
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
	font-weight:700;	
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-2;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px; 
  }
}

div.bg{
		background:radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.8) 100%);	
		width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

@media screen and (max-width: 1024px) { 
  div.bg {
    left: 50%;
	width:200%;
    margin-left: -512px; 
  }
}


#content{
	width:80%;
	margin:0 auto;
	text-align:center;
	margin-top:18%;
}

#content > .hastag > a{
	color:#FFF;
	text-decoration:none;	
}

#content > .hastag > a:hover, #content > .hastag > a.hastag-selected{
	text-decoration:underline;	
}

#content > .next{
	border:none;
	padding:15px 40px 15px 40px;
	background-color:#FFF;
	color:#000;	
	margin-top:30px;
	font-weight:bold;
	cursor:pointer;
}

#content > .next:hover{
	background-color:#EEE;	
}

#footer{
	width:100%;
	margin:0 auto;
	text-align:center;
	position:absolute;
	bottom:10px;
	text-align:center
}

@media screen and (max-width: 350px) { 
	#footer{
		position:relative;
		margin-top:40px;	
	}
}

@media screen and (max-height: 580px) { 
	#footer{
		position:relative;
		margin-top:40px;	
	}
}